<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('../assets/favicons/apple-touch-icon.png').default %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('../assets/favicons/favicon-32x32.png').default %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('../assets/favicons/favicon-16x16.png').default %>">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= require('../assets/favicons/android-chrome-192x192.png').default %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('../assets/favicons/android-chrome-512x512.png').default %>">
  <link rel="manifest" href="<%= require('../assets/favicons/site.webmanifest').default %>">
  <link rel="shortcut icon" type="image/x-icon" href="<%= require('../assets/favicons/favicon.ico').default %>">
  <title>Cloud Design</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>
