$color-primary: #17314c;
$color-primary-lighter: #2a3b52;
$color-primary-lightest: #394b69;
$color-primary-darker: #172737;
$color-primary-darkest: #0f1b24;

$color-secondary: #2784fb;
$color-accent: #6aded4;

$color-font: #FFFFFF;
$color-font-lighter: #8a98a5;
$color-font-lightest: #575B78;
$color-font-darker: #454C76;
$color-font-placeholder: #454C76;

$color-success: #64cb9f;
$color-danger: #e75854;
