$color-primary: #fbfbfb;

$color-secondary: #1D3557;
$color-accent: #f5cb5c;

$color-font: #242423;
$color-font-lighter: #333533;
$color-font-lightest: #3e403e;
$color-font-darker: #181717;
$color-font-placeholder: #3e403e;
